:root {
    --mg: #014E56;
    /* Main green */
    --lc: #F67E7E;
    /* Coral */
    --w: #FFFFFF;
    /* White */
    --rb: #79C8C7;
    /* Blue */
    --pb: #2C6269;
    /* Pine */
    --djg: #004047;
    /* Jungle */
    --ssg: #012F34;
    /* Sea green */
    --dg: #002529;
    /* Deep green */
    --ab: #C4FFFE;
    /* Avatar border */
}

/* Page man rules */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Livvic', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ----- ABOUT ARTICLE TWO ----- */

/* About rticle two bakcground color */

.article-two {
    background-color: var(--djg);
    color: var(--w);
    position: relative;
    width: 100%;
    height: 1002px;
}

/* Background decoration positioning */

.bd2 {
    position: absolute;
    top: 0px;
    left: -100px;
}

/* Background decoration positioning */

.bd3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Employee cards settings */

.employee-cards-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 76px 30px;
}

/* H2 size, position and color configuration */

.article-two h2 {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 64px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

/* Cards size , position and background color */

.card-about {
    width: 350px;
    height: 253px;
    background-color: var(--ssg);
    text-align: center;
    position: relative;
}

/* Set size for picture added borders and set correct borders */

.picture {
    width: 96px;
    height: 96px;
    border: 2px solid var(--ab);
    border-radius: 96px;
    margin-top: 30px;
    margin-bottom: 14px;
}

/* H3 text and color configuration */

.employee-cards-about h3 {
    color: var(--rb);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

/* Text and position configuration */

.employee-cards-about p {
    margin-bottom: 24px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
}

/* ----- ARTICLE FOUR ----- */

/* Article four bakcground color */

.article-four {
    background-color: var(--lc);
    position: relative;
}

/* Styles for article content */

.contact-us {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 260px;
}

/* Background decoration positioning */

.bd1 {
    position: absolute;
    top: 56px;
}

/* Text size and color configuration */

.contact-us h2 {
    color: var(--ssg);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

/* Button styles */

.button {
    width: 153px;
    height: 48px;
    border: 2px solid var(--ssg);
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    box-sizing: border-box;
    padding: 7px;
    text-decoration: none;
}

/* Setting correct collors for button */

.button-two {
    background-color: transparent;
    color: var(--ssg);
    text-align: center;
    position: relative;  
}    

/* ----- FOOTER ----- */

/* Footer background and text/symbols colors */

footer {
    background-color: var(--dg);
    color: var(--w);
}

/* Styles for footer content */

.footer-content {
    width: 100%;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

/* Image and navigation buttuns configuration */

.my-team {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

/* Navigation buttons styles and positioning */

.nav-buttons {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: inline-flex;
    gap: 40px;
}

/* Navigation buttuns color and decoration */

.nav-buttons a {
    text-decoration: none;
    color: var(--w);
}

/* Styles for address text */

.address-main {
    width: 445px;
    height: 100px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

/* Logos configuration */

.logos-copy {
    display: flex;
    flex-direction: column;
    gap: 51px;
    justify-content: flex-end;
}

/* Logos configuration */

.logos {
    font-size: 24px;
    display: inline-flex;
    justify-content: flex-end;
    gap: 16px;
}

/* Copyright text styles */

.copyright {
    opacity: 0.6;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}